/* COLOR GUIDELINES */
:root {
  --primary: #eb5440;
  --secondary: #411f00;
  --sh-c-tertiary-1: #e8e8e8;
  --sh-c-tertiary-2: #c3c3c3;
  --background-1: #f4f3ee;
  --sh-c-background-2: #fff4e6;
  --text-primary: #343a40;
  --black: #868e96;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  font-family: "Open sans", sans-serif;
  min-height: 50vh;
  color: #343a40;
  margin: 0;
}

.home-container {
  max-width: 1000px;
  margin: 0 auto;
}

section,
.cover {
  margin-bottom: 96px;
}

h1,
h2,
h3,
p {
  font-family: "Inter", sans-serif;
  color: #463f3a;
}

h1 {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

h2 {
  font-size: 36px;
}

.button:link,
.button:visited {
  background-color: #411f00;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
  font-size: 18px;
  padding: 16px 32px;
}

.button:hover,
.button:active {
  background-color: #463f3a;
}

.card-title,
.card-subtitle,
.card-text {
  text-decoration: none;
}

.card-title {
  font-weight: 500;
  font-size: 1rem;
}

p,
.card-subtitle {
  font-size: 0.8rem;
}

.content {
  min-height: 50vh;
}

/* BREADCRUMB */
.breadcrumb {
  margin-top: 1rem;
}

/* NAVIGATION */
.navbar-brand {
  max-width: 5rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 5rem;
}

.navbar {
  background-color: #f4f3ee;
  min-height: 5rem;
  color: #463f3a;
}

.navbar-icon {
  margin: 0 1rem;
  cursor: pointer;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

/* HOME */
.home-img {
  width: 100%;
}

/* HOME-TEXT */
.home-description-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  align-items: center;
}

.home-text {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.6;
}

.desc-img {
  width: 100%;
  border-radius: 12px;
}

/* FEATURES */

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.features h2 {
  margin-bottom: 32px;
}

.features-icon {
  stroke: #9d5817;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
  margin-top: 32px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

/* FEATURE
.feature {
  display: flex;
  flex-direction: column;
}

.feature-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.feature-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  padding: 0;
}

.feature-item {
  background-color: red;
  list-style: none;
} */

/* FOOTER */
footer {
  background-color: #f4f3ee;
  padding: 50px 0;
  color: #411f00;
}

.company-info {
  max-width: 1000px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.footer a {
  color: #411f00;
  text-decoration: none;
}

.footer a:hover {
  color: black;
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 60px);
}

.center {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.center h6 {
  margin-bottom: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.credit {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
