/* COLOR GUIDELINES */
:root {
  --background-1: #f4f3ee;
  --background-2: #fff4e6;
  --background-3: #411f00;
  --text-primary: #343a40;
  --text-secondary: #463f3a;
  --text-tertiary: #949494;
  --black: #1f1f1f;
  --white: #ffffff;
  --button-1: #1f1f1f;
  --button-2: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  font-family: "Open sans", sans-serif;
  min-height: 50vh;
  color: #343a40;
  margin: 0;
}

.page-container,
.product-list {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 50vh;
}

section,
.cover {
  margin-bottom: 80px;
}

.carousel-section {
  max-width: 100%;
  height: 600px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  color: #463f3a;
}

h1 {
  line-height: 1.1;
  letter-spacing: -1px;
}

h3 {
  margin-bottom: 10px;
}

.button:link,
.button:visited {
  background-color: #411f00;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
  font-size: 18px;
  padding: 16px 32px;
}

.button:hover,
.button:active {
  background-color: #463f3a;
}




/* PRODUCT CARD */
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 1200px;
}

.product {
}

.product-card {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  width: 100%;
}

.card-category {
  color: #949494;
  font-size: 12px;
  text-transform: uppercase;
}

.card-title {
  color: #411f00;
  margin-bottom: 0;
}

.price {
  color: #1f1f1f;
  font-weight: bold;
  font-size: 18px;
}





/* BREADCRUMB */
.breadcrumb {
  margin: 1rem auto;
  width: 1200px;
}

/* NAVIGATION */
.navbar-brand {
  max-width: 5rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 5rem;
}

.navbar {
  background-color: #f4f3ee;
  min-height: 5rem;
  color: #463f3a;
}

.navbar-icon {
  margin: 0 1rem;
  cursor: pointer;
}

.nav-link:hover {
  font-weight: 600;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}




/* HOME */
.home-img {
  width: 100%;
}

/* HOME-TEXT */
.home-description-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  align-items: center;
}

.home-text {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.6;
}

.desc-img {
  width: 100%;
  border-radius: 12px;
}

/* FEATURES */

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.features h2 {
  margin-bottom: 32px;
}

.features-icon {
  stroke: #9d5817;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
  margin-top: 32px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}



/* CATEGORY */
.category,
.inspiration {
  display: flex;
  flex-direction: column;
}

.category-title,
.inspiration-title {
  margin-bottom: 40px;
}

.category-title h3 {
  font-size: 20px;
}

.category-list {
  display: flex;
  gap: 50px;
  padding: 0;
  margin:0
}

.category-block {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  cursor: pointer;
}


.category-block:hover{
  font-weight: 600;
}
.category-item {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #ffffff;
}

.category-item:hover {
  border:none;
}

.category-block p{
  margin-bottom: 0;
}




/* INSPIRATION */
.inspiration-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  column-gap: 3rem;
}

.inspiration-block {
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.inspiration-item {
  height: 20rem;
  object-fit: cover;
}

.inspiration-text {
  padding: 1rem 1rem;
}
.inspiration-block h6 {
  font-weight: 600;
  letter-spacing: -0.8px;
  margin-bottom: 7px;
}

.inspiration-block p{
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: -0.5px;
  color:#949494;
  margin-bottom: 0;
}




/* FOOTER */
.footer {
  background-color: #f4f3ee;
  padding: 50px 0;
  color: #411f00;
  margin-top: 24px;
}

.company-info {
  max-width: 1200px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.footer a {
  color: #343a40;
  text-decoration: none;
  font-size: 14px;
}

.footer a:hover {
  color: #1f1f1f;
}

.footer p {
  font-size: 14px;
  margin-bottom: 15px;
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 60px);
}

.column,
.column-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column {
  margin-bottom: 15px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.credit {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.credit p {
  margin-bottom: 0;
}
